{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["chai-friendly"],
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2,
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "no-await-in-loop": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off",
    "consistent-return":"off",
    "no-use-before-define": "off"
  }
}
