rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{path}/{document} {
      allow read, write: if path != "system" && request.auth != null;
    }
  }
}
